.jUpbwB.active {
    top: 0px !important;
    left: 0px !important;
    position: fixed !important;
    z-index: 9 !important;
    width: 100% !important;
    height: 100%;
    background-color: #0C3A53;
    transition: all 0.3s ease-in-out 0s;
    pointer-events: all;
    opacity: 0.7;
    cursor: pointer;
}

.jNlDeF.active {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: calc(-50px + 100vh);
    background-color: #0C3A53;
    display: flex;
    align-items: flex-start;
    transition: all 0.3s ease-in-out 0s;
    top: 50px;
    left: 0%;
    opacity: 1;
    padding: 12px 20px 100px;
    overflow-y: auto;
}
.gBxDIb{
    object-fit: cover;
}
.dzplXw.active {
    cursor: pointer;
    transition: all 0.3s ease 0s;
    position: fixed;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    background-color: #0C3A53;
    height: 38px;
    width: 38px;
    right: 12px;
    top: 6px;
    color: #0EBAB1;
    padding-top: 1px;
    z-index: 120;
}

@media (min-width: 680px) {
    .jNlDeF.active {
        width: 485px;
        height: 100vh;
        top: 0px;
        left: calc(100% - 485px);
        align-items: flex-start;
        background-color: #0C3A53;
        padding: 100px 50px 50px;
    }

    .jUpbwB.active {
        top: 15px;
        right: 15px;
        height: 43px;
        width: 43px;
    }

}

@media (max-width: 992px) {
    .DUONk {
        min-height: auto !important;
        height: auto !important;
        display: block;
        padding: 20px;
    }

    .Servicesstyle__ServiceBlock-sc-jlqcj3-5 {
        flex-direction: column !important;
    }

}

.eSEVla {
    width: 485px;
    max-width: 100%;
    height: calc(-50px + 100vh);
    position: fixed;
    top: 50px;
    right: 0px;
    z-index: 120;
    transition: all 0.3s ease-in-out 0s;
    overflow: hidden;
    background-color: #0C3A53;
    color: white;
    display: flex;
    flex-direction: column;
}

@media (min-width: 680px) {
    .eSEVla {
        top: 0px;
        height: 100vh;
    }
}

.jhmINn .iehGeS {

    color: white !important;
}

.jhmINn .ksIOdr {

    color: white !important;
}

.gifEzQ {

    right: 13px !important;

}

.gifEzQ svg {
    fill: white !important;
}

.fmiVnW {

    border-bottom: 1px solid white !important;
    color: white !important;

}


.caFxEC {

    color: #ffffff !important;
    background-color: #0EBAB1 !important;

}

.Casesstyle__Background-sc-fzwnhc-0.eGjaET {
    background-color: #0EBAB1 !important;
}

/* .bkgkIy{
    color: #ffffff !important;
    background-color: #0EBAB1 !important;
}
.bkgkIy .fOHICr, .bkgkIy .gZRRnH ,.bkgkIy .sojqq{
   opacity: 1 !important;

} */
.jhmINn {
    width: 100%;
    transition: all 0.3s ease-in-out 0s;
    padding: 50px;
    -webkit-box-flex: 1;
    flex-grow: 1;
    overflow: scroll;
}

.jQETUf {
    width: 100%;
    height: fit-content;
    max-height: 100%;
    background-color: rgb(0, 0, 0);
    margin-top: auto;
}

.DUONk {
    min-height: 840px;
    height: 840px;
    display: block;
}

.box {
    width: 100px;
    height: 100px;
    background-color: red;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.egvMye,
.XPBsz {

    font-size: 15px !important;
}

@media (min-width: 680px) {
    .jRognm {
        padding: 0px;
        background-color: transparent;
        left: -26px !important;
        width: 120px !important;
        top: 10px !important;
        padding: 0px !important;
    }
}

@media (max-width: 680px) {
    .gZRRnH , .sojqq {
        font-size: 20px !important;
    }
}

.jRognm {
    border-radius: 5px;
    /* background-color: rgb(12, 58, 83); */
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    width: 70px;
    position: fixed;
    left: 12px;
    top: 4px;
    z-index: 1000;
}

